@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.form__container {
  min-height: 100vh;
  background: linear-gradient(90deg, #00c9ff 0%, #92fe9d 100%);
}
.form__container form {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  padding: 20px;
}
.form__heading {
  font-family: "Dancing Script", cursive;
  margin-bottom: 10px;
}
.form__button {
  width: 100%;
  background-color: black;
  color: white;
  padding: 5px;
}
.form__button:hover {
  background-color: rgba(0, 0, 0, 0.795);
}
.form__submit-btn {
  margin-top: 20px;
  width: 100%;
  color: white;
  background-color: black;
  padding: 10px 0px;
}
.form__submit-btn:hover {
  opacity: 0.9;
}
.content {
  min-height: 73vh !important;
}
